[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

PyGithub = "*"
PyYAML = "==3.12"
requests = "==2.13.0"


[dev-packages]



[requires]

python_version = "3.6"
